Project

In [111]:
 #import libraries
import kaggle
import pandas as pd
import numpy as np

In [123]:
#download dataset using kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv: Skipping, found more recently modified local copy (use --force to force download)

In [145]:
#extract file from zip file
import zipfile

# Path to the downloaded ZIP file
zip_file_path = 'orders.csv'

# Extract the files
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall('extracted_files')  # Extracts files to 'extracted_files' folder

# List the files extracted
print(zip_ref.namelist())

['orders.csv']

In [153]:
#read data from the file
csv_file_path = 'extracted_files/orders.csv'  # Adjust path if necessary

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path,na_values=['Not Available','unknown'])  # Adjust encoding if necessary

# Check the first few rows of the dataframe
print(df.head())

   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5

In [155]:
 #handle null values
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [182]:
#rename columns name
#df.rename(columns={'Order Id':'order_id', 'City':'city'})
#df.columns=df.columns.str.lower()
#df.columns=df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [192]:
#derive new columns discount,sale price and profit
#df['discount']=df['list_price']*df['discount_percent']*.01
#df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [196]:
 df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [204]:
#change order date from object to datetime
#df.dtypes
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')

In [210]:
#drop cost price, discount, list price
df.drop(columns=['list_price','discount_percent','cost_price'],inplace=True)

In [212]:
#load data into sql server
import sqlalchemy as sal
engine=sal.create_engine('mssql:

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8

In [238]:
from sqlalchemy import create_engine


# Sample DataFrame (replace with your actual df)
# df = pd.read_csv("your_file.csv")

# Create SQLAlchemy engine
engine = create_engine("mysql+pymysql://root:16213467@localhost:3306/project1")

# Load data into SQL
df.to_sql('df_orders', con=engine, if_exists='append', index=False)

print("Data loaded successfully into MySQL!")

Data loaded successfully into MySQL!

 THANK YOU